{% extends 'base.html' %}

{% block content %}
<h1 class="text-center py-3">You Can Do It!</h1>
<section class='container'>
  <form action="{% url 'TodoAPP:create' %}">
    <div class="input-group mb-3">
      <span class="input-group-text">할 일</span>
      <input type="text" class="form-control" name="content">
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text">중요도</label>
      <select class="form-select" name="priority">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">마감 기한</span>
      <input class="form-control" type="datetime" name="deadline">
    </div>
    <div class="input-group mb-3">
      <input type="submit" value="할 일 추가" class="form-control">
    </div>
  </form>
</section>
<!-- <ul>
  {% for Todo in Todos %}
  <li>{{ Todo.content }} - {{ Todo.priority }} - {{ Todo.deadline }}
    <a href="">
      [수정]
    </a>
    <a href="/Todo/delete/{{ Todo.id }}">
      [삭제]
    </a>
  </li>
  {% endfor %}
</ul> -->

<section class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">중요도</th>
        <th scope="col">내용</th>
        <th scope="col">마감 기한</th>
        <th scope="col">삭제</th>
      </tr>
    </thead>
    <tbody>
      {% for Todo in Todos %}
      <td>{{ Todo.priority }}</td>
      <td>{{ Todo.content }}</td>
      <td>{{ Todo.deadline }}</td>
      <td><a class="btn btn-danger" href="/Todo/delete/{{ Todo.id }}" role="button">삭제</a>
        {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}