{% extends 'base.html' %}

{% block body %}
  {% if request.user.is_authenticated %}
    <div class="py-5 text-center">
      <h1>회원 목록</h1>
    </div>
    <span class="float-end">{{ request.user }}님, 안녕하세요!</span>
    <table class="table table-striped border-dark border-opacity-25">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NAME</th>
          <th scope="col">E-mail</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <th scope="row">{{ user.pk }}</td>
            <td>
              <a href="{% url 'accounts:detail' user.pk %}">{{ user.username }}</a>
            </td>
            <td>{{ user.email }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="text-end">
      <a href="{% url 'accounts:logout' %}" class="btn btn-danger">로그아웃</a>
      <a href="{% url 'accounts:detail' user.pk %}" class="btn btn-primary">내 정보</a>
    </div>
  {% else %}
    <div class="d-flex justify-content-center align-items-center flex-column border" style="max-width: 1980px; height: 1020px;">
      <div class="py-2 text-center">
        <div>
          <h1 class="mb-5">회원 조회 서비스</h1>
        </div>
        <div>
          <a href="{% url 'accounts:signup' %}" class="btn btn-primary">회원가입</a>
        </div>
      </div>
      <div class="py-2">
        <a href="{% url 'accounts:login' %}" class="btn btn-primary">로그인</a>
      </div>
    </div>
  {% endif %}
{% endblock body %}
